body {
  margin: 0;
  background-color: rgba(1, 13, 21, 0.8);
}

.container {
  display: flex;
  width: 100vw;
  height: 70vh;
  justify-content: top;
}

.containerFunction {
  display: flex;
  width: 100vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.input-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textfield-container {
}

.input-submit {
  transition: transform 250ms;
}

.input-submit:hover {
  transform: scale(1.35, 1.35);
  cursor: pointer;
}

.inputField {
  margin: 20px;
}

.result {
  text-align: center;
  margin: 0px 10px 10px;
  font-size: 30px;
  font-family: "DotGothic16", sans-serif;
}

.FunctionPicker-container {
  display: flex;
  cursor: pointer;
}

.FunctionPicker-button {
  border: 1px solid;
  border-radius: 3px;
  padding: 2px 15px 2px 15px;
  background-color: rgba(37, 39, 39, 0.4);
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
}

.FunctionPicker-button-active {
  background-color: rgba(13, 46, 117, 0.534);
}

.submit {
  width: 420px;
  border: 1px solid;
  font-family: "DotGothic16", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 3px;
  background-color: rgba(13, 46, 117, 0.534);
  margin-bottom: 10px;
}
